.header {
  background: white;
  color: #fff;
  display: contents;
}

.panaButton button {
  order: 3 !important;
}

.burger {
  display: none;
  border: 2px solid #fff;
  border-radius: 5px;
  font-size: 1em;
  background: transparent;
  color: black;
}

.nav {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em 0;
}

.nav.scrolled {
  padding: 0.1em 1em;
  transition: padding 0.3s ease-in-out;
}

.navWrap {
  background-color: #fffd;
  top: 0;
  position: sticky;
  z-index: 1;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

.navLogo {
  order: 2;
}

.burger {
  order: 1;
  display: block;
  padding: 0.25rem 0.5rem;
  width: max-content;
}

.nav {
  justify-content: left;
  padding: 0.5em;
}

.navLogo img {
  height: 24px;
}

.navList {
  display: flex;
  list-style: none;
  margin: 0;
  transform: scaleY(0);
  height: 0;
  order: 4;
  width: 100%;
  flex-direction: column;
  overflow: hidden;
  transform-origin: top;
  color: #444;
}

.navList[aria-expanded='true'] {
  width: 100%;
  height: max-content;
  transform: scaleY(1);
  transition: all 0.5s ease-out;
}

.navList > :first-child {
  padding-top: 10px;
}

.listItem a {
  width: calc(100% - 4rem);
  display: block;
  background-color: #f4f5f6;
  margin: 0.25rem auto;
}

.sessionButton {
  margin-left: auto;
  order: 3;
  line-height: 0;
}

.listItem a {
  display: inline-block;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.linkSpecial {
  color: var(--color-pana-yellow);
  font-weight: 700;
}

.linkSpecial:hover {
  background-color: black;
}

.listItem:hover {
  background-color: #f8f9fa;
  text-decoration: underline;
}

.sessionButton a,
.sessionButton button {
  font-size: 14px;
  font-weight: 700;
  border-radius: 1.25rem;
  padding: 0.5rem 1.25rem;
  background-color: #4ab3ea;
  white-space: nowrap;
  color: white;
}

.navBorder {
  height: 2px;
  background:
    linear-gradient(70deg, var(--color-pana-yellow) 30%, rgba(0, 0, 0, 0) 30%),
    linear-gradient(
      40deg,
      var(--color-pana-blue) 60%,
      var(--color-pana-pink) 60%
    );
}

.userModal {
  margin-right: 1rem;
  z-index: 100;
  border: 2px solid #444;
  border-radius: 4px;
  padding: 1rem;
  background-color: var(--color-bg-light);
  color: #444;
  font-size: var(--mobile-font-size);
}
.userModal ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
/* .userModal ul li{

} */
.userModal a {
  display: inline-block;
  width: 100%;
  padding: 0.25rem 0;
  border-radius: 24px;
  background-color: #f8f9fa;
}
.userModal a:hover {
  color: var(--color-pana-pink);
}
.userModal svg {
  vertical-align: text-top;
}
.userModalUser {
  font-size: 0.75rem;
}

.adminLink a {
  color: #900;
}
.adminLink a:hover {
  color: #900;
  text-decoration: underline;
}

@media only screen and (min-width: 600px) {
  .burger {
    order: 4;
    display: none;
  }
  .navLogo {
    order: 1;
    cursor: pointer;
    padding: 0.25rem;
  }
  .navLogo img {
    height: 32px;
  }

  .navList {
    order: 2;
    flex-direction: row;
    color: #444;
    padding: 0;
    transform: none;
    height: max-content;
    width: max-content;
    margin: auto;
  }
  .navList > :first-child {
    padding-top: 0;
  }
  .listItem a {
    width: auto;
    background-color: transparent;
    margin: auto;
  }

  .sessionButton {
    margin-left: initial;
  }
}
