.app {
  background-color: #eee;
  padding: 1rem 0;
}
.profileCard {
  background-color: white;
  padding: 1rem;
  max-width: 45rem;
  margin: auto;
  border: 1px solid #eee;
  border-radius: 12px;
  margin-bottom: 1rem;
}
.profileCard small {
  color: #777;
}
.profileHeader {
  position: relative;
  display: flex;
}
.profileImage {
  max-width: 15rem;
  padding: 0 1rem 0 0;
}

.profileImage img {
  width: 100%;
}

.profileFiveWords {
  display: inline-block;
  padding: 0.25rem;
  margin: 0.25rem 0;
  border-radius: 0.5rem;
  background-color: #eee;
}

.socialLinks {
  position: absolute;
  display: inline-block;
  right: 0;
  background-color: var(--color-pana-blue);
  text-align: center;
  border-radius: 12px;
  margin-right: -3rem;
}
.socialLinks a {
  display: block;
  padding: 0.5rem 0.25rem;
}
.socialLinks a:first-child {
  border-radius: 12px 12px 0 0;
}
.socialLinks a:last-child {
  border-radius: 0 0 12px 12px;
}
.socialLinks a:hover {
  background-color: #0007;
}

.profileInfo {
  position: relative;
  line-height: 1.5rem;
}

.profileInfo label {
  color: #777;
}

.profileInfoSplit {
  display: flex;
  gap: 2rem;
}

.profileInfo a {
  color: var(--color-pana-pink);
  display: inline-block;
  margin: 0 0.25rem;
}
.profileGalleryImage {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  width: calc(33% - 1rem);
  cursor: pointer;
}

.profileGalleryImage img {
  max-width: 100%;
}
.profileGalleryImage dialog {
}
