.app {
}

.main {
  margin: auto;
  background-color: #f8f8f8;
  background: content-box url('/img/bg_shrooms_forest.jpg');
}

.main a {
  color: var(--color-pana-pink);
}

.header {
  margin: auto;
  padding: 3rem 0 1rem;
  text-align: center;
  backdrop-filter: brightness(0.5);
}
.header h2 {
  color: white;
  padding: 0.25rem 0;
}
.header h3 {
  color: white;
  padding: 0.25rem 0;
}

.allSearch {
  background-color: #f8f8f8;
}
.searchFilters {
  position: relative;
  max-width: 45rem;
  margin: auto;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
}
.viewListButton {
  margin-right: 0;
  border-radius: 25px 0 0 25px;
  padding-right: 0.5rem;
}
.viewMapButton {
  margin-left: 0;
  border-radius: 0 25px 25px 0;
  padding-left: 0.5rem;
}
.viewListButton:hover,
.viewMapButton:hover {
  cursor: pointer;
  background-color: #444;
  color: white;
}
.viewListButton.active,
.viewMapButton.active {
  background-color: var(--color-pana-blue);
}

.filtersButton {
  cursor: pointer;
  display: inline-block;
  margin: 0 0.5rem;
  font-size: var(--base-font-size);
  letter-spacing: 1px;
  padding: 0.25rem 0.75rem;
  background-color: white;
  color: #444;
  font-weight: 700;
  border-radius: 2rem;
  border: 2px solid black;
}

.filtersButton:hover {
  background-color: var(--color-bg-gray);
}

.filtersModal {
  position: absolute;
  top: 3.5rem;
  right: 0;
  width: 50%;
  margin-left: 50%;
  border: 3px solid #777;
  border-radius: 12px;
}
.filtersModal label {
  display: inline-block;
  white-space: nowrap;
  padding: 0.5rem;
  color: #777;
}
.filtersModal input[type='checkbox'] {
  transform: scale(1.5);
}
.filtersLocation {
  margin-bottom: 0.5rem;
}
.filtersCategory {
  margin-bottom: 0.5rem;
}
.searchFormContainer {
  backdrop-filter: brightness(0.5);
}
.searchForm {
  max-width: 45rem;
  margin: auto;
  text-align: center;
  padding-bottom: 1rem;
  color: white;
}
.searchFieldBar {
  border: 0;
  margin: 1rem auto;
  display: flex;
  justify-content: center;
}
.searchField {
  padding: 0.7rem 1rem;
  border-radius: 2rem;
  width: 100%;
}
.searchButton {
  margin-left: -5.5rem;
  line-height: 3rem;
}
.searchBody {
  min-height: 75vh;
  padding-bottom: 5vh;
}

.searchLoginCallout {
  color: black;
  text-align: center;
  background-color: #fff1d9;
  max-width: 45rem;
  margin: auto;
  padding: 0.5rem;
  border: 3px solid var(--color-pana-yellow);
  border-radius: 12px;
  margin-bottom: 1rem;
}

.profileCard {
  display: grid;
  grid-template-columns: 10rem 32rem;
  grid-template-rows: 2rem 2rem 2rem auto 2rem;
  column-gap: 1rem;
  max-width: 45rem;
  margin: auto;
  border: 3px solid #ccc;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 12px;
  background-color: white;
}

@media screen and (max-width: 600px) {
  .profileCard {
    padding: 0.5rem;
    grid-template-columns: 25% calc(75% - 1.5rem);
    grid-template-rows: auto auto auto auto auto;
    column-gap: 0.5rem;
    margin: 0.25rem;
  }
}

.profileCardSignup {
  max-width: 45rem;
  margin: auto;
  border: 3px solid var(--color-pana-blue);
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 12px;
  background-color: #e1f1ff;
  display: flex;
}

@media screen and (max-width: 600px) {
  .profileCardSignup {
    flex-direction: column;
    padding: 0.5rem;
  }
}

.profileCardImage {
  width: 10rem;
  padding-right: 1rem;
  grid-row: span 5;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .profileCardImage {
    max-width: 100%;
    max-height: 25vh;
    grid-row: auto;
    padding: 0;
    margin: 0 auto 0.5rem;
    overflow: hidden;
  }
}

.profileCardImage img {
  max-width: 100%;
  max-height: 100%;
}

.profileCardInfo {
  width: 100%;
}

.cardName {
  font-size: 1.25rem;
  font-weight: 700;
}

@media screen and (max-width: 600px) {
  .cardName {
    width: 100%;
    grid-row: auto;
    font-size: var(--base-font-size);
  }
}

.cardFiveWords {
  display: inline-block;
  padding: 0.25rem;
  margin: 0.25rem 0;
  border-radius: 0.5rem;
  background-color: #eee;
}
@media screen and (max-width: 600px) {
  .cardFiveWordsContainer {
    grid-column: span 2;
  }
}

.cardLocation {
  font-style: italic;
  font-weight: 400;
  padding-top: 0.25rem;
  line-height: 175%;
}
@media screen and (max-width: 600px) {
  .cardLocationContainer {
    grid-column: span 2;
  }
}

.cardLocation small {
  color: #777;
}

.cardDetails {
  width: 100%;
  padding: 0.5rem 0;
  grid-column: span 1;
}
@media screen and (max-width: 600px) {
  .cardDetails {
    grid-column: span 2;
  }
}

.cardActions {
  padding: 0.5rem 0 0;
  display: flex;
  justify-items: flex-start;
  gap: 0.5rem;
  grid-column: span 1;
}
.cardActions button {
  all: unset;
  color: var(--color-pana-pink);
}
.cardActions button:hover {
  cursor: pointer;
  text-decoration: underline;
}
@media screen and (max-width: 600px) {
  .cardActions {
    grid-column: span 2;
  }
}

.cardlinks {
  margin-left: auto;
}
.cardlinks a {
  display: inline-block;
  padding: 0 0.5rem;
}

.noResults {
  max-width: 45rem;
  margin: auto;
  border: 3px solid #ccc;
  padding: 1rem;
  border-radius: 12px;
  background-color: white;
  margin-bottom: 1rem;
}
.noResults a {
  color: var(--color-pana-pink);
}

.pagination {
  max-width: 45rem;
  margin: 1rem auto 3rem;
  text-align: left;
  line-height: 3rem;
}

.resultsCount {
  display: inline-block;
  float: right;
}

.directoryReferrals {
  max-width: 45rem;
  margin: auto;
  text-align: center;
  padding: 5vh;
}
.directoryReferrals a {
  color: var(--color-pana-pink);
}

.dialogUserlists {
  min-width: 15rem;
  max-width: 100%;
  border-radius: 12px;
  padding: 0;
}
.dialogUserlists button {
  all: unset;
  color: var(--color-pana-pink);
}
.dialogUserlists button:hover {
  text-decoration: underline;
  cursor: pointer;
}
.dialogHeader {
  display: flex;
  justify-content: space-between;
  column-gap: 1rem;
  background-color: var(--color-navy);
  color: white;
  padding: 0.5rem 1rem;
}
.dialogHeader span {
  line-height: 2rem;
}
.dialogBody {
  padding: 0.5rem 1rem;
}
.dialogInput {
  max-width: 12rem;
  padding: 0.5rem;
  border-radius: 12px;
}
.dialogFooter {
  background-color: var(--color-bg-light);
  padding: 0.5rem 1rem;
}
