.app {
  min-height: 90vh;
  background-color: rgb(248, 248, 248);
  padding: 0;
}

.main {
  margin: auto;
}

.header {
  margin: auto;
  padding: 5vh 0 0;
  min-width: 1vw;
  max-width: 90%;
  text-align: center;
  color: white;
}
.header h2 {
  color: #fc2070;
}

.auxiliaFrame {
  border: 0;
  min-height: 70vh;
  width: 100%;
}

.footer {
  height: 5vh;
}
