.app {
  max-width: 45rem;
  margin: auto;
  min-height: 80vh;
  padding: 40px 10px;
}

.app ul {
  text-align: start;
}

.app td > * {
  margin-bottom: 10px;
}

.header h2 {
  color: var(--color-pana-pink, #fc2070);
  text-align: center;
  text-transform: uppercase;
}

/* .donationsContent {
  display: flex;
  justify-content: center;
} */

.donateForm {
  display: block;
  flex: auto;
  max-width: 810px;
  padding: 20px;
  background: #f7f7f7;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.donateForm h3 {
  text-align: center;
}

.verticalBanner {
  display: none;
  /*For now*/
  max-width: 300px;
  background-color: #f7f7f7;
  margin-left: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.verticalBanner div {
  width: fit-content;
  margin: auto;
}

/*Mobile Tiers Table*/

.mobileSubsTiers {
  border-collapse: separate;
  width: 100%;
  margin-top: 20px;
  border-spacing: 0;
  border-radius: 10px;
  overflow: hidden;
  color: white;
  display: none;
}

.mobileSubsTiers td {
  padding: 10px;
  text-align: center;
}

.mobileSubsTiers tr:nth-of-type(1) {
  background-color: var(--color-pana-blue);
}

.mobileSubsTiers tr:nth-of-type(2) {
  background-color: var(--color-pana-yellow);
}

.mobileSubsTiers tr:nth-of-type(3) {
  background-color: var(--color-pana-pink);
}

.mobileSubsTiers tr:nth-of-type(1) td {
  border-radius: 10px 10px 0 0;
}

.mobileSubsTiers tr:nth-of-type(3) td {
  border-radius: 0 0 10px 10px;
}

/* Desktop Tiers Table */

.app td {
  vertical-align: top;
}

.desktopSubsTiers {
  border-collapse: separate;
  text-align: center;
  width: 100%;
  border-spacing: 0;
  border-radius: 10px;
  overflow: hidden;
}

.desktopSubsTiers td:nth-of-type(1) {
  border: 3px solid var(--color-pana-blue);
  border-radius: 10px;
  margin: 10px;
}

.desktopSubsTiers td:nth-of-type(2) {
  border: 3px solid var(--color-pana-yellow);
  border-radius: 10px;
}

.desktopSubsTiers td:nth-of-type(3) {
  border: 3px solid var(--color-pana-pink);
  border-radius: 10px;
}

.desktopSubsTiers td {
  margin: 10px;
  width: 33%;
}

.donationIntro {
  display: flex;
  align-items: center;
}

.donationIntro svg {
  height: 32px;
}

.oneTime button,
.submit button {
  display: block;
  margin: auto;
}

.submit button:hover {
  border: solid 2px var(--hover-color);
}

.buttonGroupEven {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
  overflow-wrap: anywhere;
}

.buttonGroupUneven {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 20px;
  overflow-wrap: anywhere;
}

.buttonGroupEven {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
  overflow-wrap: anywhere;
}

.buttonGroupEven button {
  width: 100%;
  padding: 5px !important;
}

.buttonGroupUneven button {
  width: 100%;
  margin: 0;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0%;
  font-size: 14px;
}

.buttonGroupUneven button span {
  margin-right: auto;
  width: 33px;
  max-height: 55px;
  padding: 2px 0;
}

.buttonGroupUneven button span svg {
  vertical-align: middle;
}

.spacer {
  flex: 0;
}

.donateButton {
  background-color: #b5b5b5;
  color: white;
  width: 48%;
  padding: 10px !important;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.donateButton:hover,
.donateButtonActive {
  background-color: var(--color-navy);
  color: white;
  width: 48%;
  padding: 10px !important;
}

.formGroup {
  display: flex;
  align-items: flex-end;
  margin-bottom: 15px;
}

.formGroup label {
  display: flex;
  align-items: baseline;
  gap: 10px;
  width: 100%;
}

.formGroup input,
.formGroup textarea,
.selectInput {
  font-size: var(--base-font-size);
  font-family: 'Verdana', 'sans-serif';
  width: 100%;
  margin: 0 5px;
  padding: 0px;
  padding-top: 10px !important;
  padding-left: 10px;
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid var(--color-pana-pink, #fc2070);
  color: #777;
}

.formGroup textarea {
  width: 100%;
}

.formGroup input[type='checkbox'] {
  width: fit-content;
}

.customAmountWrapper span {
  margin-right: -20px;
}

.gridCheck {
  display: inline-block;
  transform: scale(2);
}

.gridNotCheck {
  display: inline-block;
  transform: scale(1.5);
}

.mobileSubsTiers ul {
  width: 100%;
  background-color: white;
  color: black;
  padding: 1rem 2rem;
}

.donationCompareTable {
  font-size: 14px;
}

.donationCompareTable th {
  text-align: center;
  text-wrap: nowrap;
  padding: 1rem;
  border-radius: 1rem 1rem 0 0;
}

.donationCompareTable td {
  padding: 1rem 0.5rem;
  border: 0;
}

.donationCompareTable tbody {
  border-collapse: separate;
  border: 2px solid #777;
}

.donationCompareTable tbody tr:first-child td {
  border-top: 2px solid #777;
}

.donationCompareTable tbody tr:last-child td {
  border-bottom: 2px solid #777;
}

.donationCompareTable tbody td:first-child {
  border-left: 2px solid #777;
}

.donationCompareTable tbody td:last-child {
  border-right: 2px solid #777;
}

.donationCompareTable td:nth-child(1) {
  border-bottom: 1px solid #eee;
}

.donationCompareTable td:nth-child(2),
.donationCompareTable th:nth-child(2) {
  text-align: center;
  color: white;
  background-color: var(--color-pana-blue);
}

.donationCompareTable td:nth-child(3),
.donationCompareTable th:nth-child(3) {
  text-align: center;
  color: white;
  background-color: var(--color-pana-yellow);
}

.donationCompareTable td:nth-child(4),
.donationCompareTable th:nth-child(4) {
  text-align: center;
  color: white;
  background-color: var(--color-pana-pink);
}

.formAmountSelections {
  padding: 1rem 0;
}

.formAmountSelections button {
  margin-left: 0;
  /* margin-right: 1rem;
  margin-bottom: 1rem; */
}

.formAmountFields {
  display: flex;
  justify-content: space-between;
  flex-basis: fit-content;
}

.donationForm small {
  color: #777;
}

.donationForm input[type='number'] {
  width: 100%;
  padding: 0.5rem;
  font-size: 24px;
}

.donationForm input[type='text'],
.donationForm input[type='email'] {
  width: 100%;
  padding: 0.5rem;
  font-size: var(--base-font-size);
}

.donationForm [type='radio'] {
  transform: scale(1.5);
}

.donationForm [type='checkbox'] {
  transform: scale(1.5);
}

.donationForm textarea,
.donationForm select {
  width: 100%;
  padding: 0.5rem;
  font-size: var(--base-font-size);
}

.tierBadge span {
  color: white;
  font-weight: 700;
  padding: 0.5rem;
  display: inline-block;
  margin: auto;
  border-radius: 14px;
}

.tier1Badge {
  background-color: var(--color-pana-blue);
  min-width: 190px;
}

.tier2Badge {
  background-color: var(--color-pana-yellow);
  min-width: 190px;
}

.tier3Badge {
  background-color: var(--color-pana-pink);
  min-width: 190px;
}

.buttonBadgeBlue {
  background-color: var(--color-pana-blue);
  vertical-align: text-top;
  display: inline-block;
  transform: scale(2) translateX(-0.25rem);
  border-radius: 1rem 0 0 1rem;
  padding: 0 0.25rem 0 0.25rem;
}

.buttonBadgeYellow {
  background-color: var(--color-pana-yellow);
  vertical-align: text-top;
  display: inline-block;
  transform: scale(2) translateX(-0.25rem);
  border-radius: 1rem 0 0 1rem;
  padding: 0 0.25rem 0 0.5rem;
}

.buttonBadgePink {
  background-color: var(--color-pana-pink);
  vertical-align: text-top;
  display: inline-block;
  transform: scale(2) translateX(-0.25rem);
  border-radius: 1rem 0 0 1rem;
  padding: 0 0.25rem 0 0.5rem;
}

@media only screen and (max-width: 600px) {
  .donationsContent {
    flex-wrap: wrap;
  }

  .mobileSubsTiers {
    display: block;
  }

  .desktopSubsTiers {
    display: none;
  }

  .verticalBanner p {
    max-width: 500px;
    margin: 20px 0;
  }

  .buttonGroupEven {
    grid-template-columns: repeat(2, 1fr);
  }

  .buttonGroupUneven {
    font-size: 12px !important;
  }

  .buttonGroupUneven button {
    padding: 8px !important;
    font-size: 14px;
    letter-spacing: normal;
  }

  .buttonGroupUneven button span {
    transform: scale(2) translateX(0);
  }

  .donationCompareTable {
    display: none;
  }

  .formAmountFields {
    flex-basis: auto;
    flex-wrap: wrap;
  }

  .formAmountFields input[type='number'] {
    width: 125px;
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 480px) {
  .buttonGroupUneven {
    display: block;
  }
}

.confirmationHeader {
  text-align: center;
}

.confirmationHeader h2 {
  color: var(--color-pana-pink);
}

.confirmationBody {
  padding: 1rem 2rem;
  text-align: left;
}

.confirmationBody a {
  color: var(--color-pana-pink);
}

.confirmationBody a:hover {
  text-decoration: underline;
}

.confirmationDePana {
  background: linear-gradient(
    60deg,
    var(--color-pana-blue) 0,
    var(--color-pana-pink) 45%,
    var(--color-pana-yellow) 100%
  );
  padding: 0.25rem;
  border-radius: 1rem;
}

.confirmationDePanaInner {
  background-color: #eee;
  padding: 1rem;
  border-radius: 1rem;
}
